@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-instrument-serif-regular: var(--font-instrument-serif-regular);
  --font-instrument-serif-italic: var(--font-instrument-serif-italic);
  --font-space-grotesk-light: var(--font-space-grotesk-light);
  --font-space-grotesk-regular: var(--font-space-grotesk-regular);
  --font-space-grotesk-medium: var(--font-space-grotesk-medium);
  --font-space-grotesk-semibold: var(--font-space-grotesk-semibold);
  --font-space-grotesk-bold: var(--font-space-grotesk-bold);
}

body {
  font-family: var(--font-space-grotesk-regular), sans-serif;
}


/* .text-light {
  font-family: var(--font-space-grotesk-light), sans-serif;
}

.text-medium {
  font-family: var(--font-space-grotesk-medium), sans-serif;
}

.text-semibold {
  font-family: var(--font-space-grotesk-semibold), sans-serif;
} */
